body {
  background-color: #e8f3d6;
  color: #0a2647;
}

a {
  color: #f5a068;
}

.App-footer {
  text-align: center;
  font-size: 12px;
  margin: 30px 0;
}

.App h1 {
  text-align: center;
  margin: 30px 0;
  color: #144272;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
