body {
  background-color: #f0ece2;
}

a {
  color: #118df0;
}

.App-footer {
  text-align: center;
  font-size: 12px;
  margin: 30px 0;
}

.App h1 {
  text-align: center;
  margin: 30px 0;
  color: #004182;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
