.Dictionary section {
  background-color: #fbf9ce;
  padding: 30px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0 0 0 / 10%);
}

.Dictionary input {
  width: 100%;
  background-color: #fbf9ce;
  padding: 6px 4px;
  border-radius: 5px;
  border: 1px solid #e8f3d6;
  color: #faab78;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 6px;
}
