.Phonetic {
  height: 45px;
}

.Phonetic a {
  border: 1px solid #004182;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: #f0ece2;
  color: #118df0;
}

.Phonetic .text {
  opacity: 0.7;
}
